body{
    margin: 0;
    padding: 0;
}

header{
    justify-content: space-between;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;

}

.card{
    max-width: 100%;
    height: auto;
    display: inline-block;
    background-color: brown;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(24, 214, 109, 0.753);
    border: 100px black;

    transition: transform 0.3s;
   
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 2px 4px 8px rgba(192, 24, 214, 0.753);
    background-color: darkolivegreen;

}

img{
    border-radius: 15px;
    border-bottom: 3px solid rgb(32, 233, 216);
}

button{
    background-color: rgb(66, 129, 223);
}

mark{
    background-color: cadetblue;
}

p{
    text-align: center;
}